polkit.addRule(function(action, subject) {
        if (/^org\.freedesktop\.udisks2\./.test(action.id) && subject.isInGroup("wheel"))
        {
                return polkit.Result.YES
        }
});
